<div class="w3-container w3-card w3-white w3-round w3-margin">
  <br>
  <img src="../../../assets/images/janani.jpg" class="w3-circle" style="height:40px;width:40px" alt="Avatar"/> <h6
  class="w3-opacity"></h6>
  <span class="w3-right w3-opacity">1 min</span>
  <b>Nisha Nishani</b><br>
  <hr class="w3-clear">
  <p>Trip Funny Collections Went to Badulla............!</p>
  <div class="w3-row-padding" style="margin:0-16px">
    <div class="w3-half">
      <img [src]="uploadImage" style="width:95%" alt="Northern Lights" class="w3-margin-bottom" class="responsive">
    </div>



  </div>
  <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button>
  <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</button>
  <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-share"></i>  Share</button>
</div>
