<!--<div class="w3-top">
  <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
    <a
      class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-#F1EFE2 w3-large w3-theme-d2"
      href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button"><span>Home</span></a>

    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-#F1EFE2" title="Messages"><img
      src="https://img.icons8.com/color/35/000000/facebook-messenger.png">
    </a>


    &lt;!&ndash; <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-#F1EFE2" title="Friend Requests">
        <i class="fa fa-user"></i><span class="w3-badge w3-right w3-small w3-red">12</span></a> &ndash;&gt;

    &lt;!&ndash;   <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-#F1EFE2" title="News"></a>
     &ndash;&gt;
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-button w3-padding-large" title="Notifications"><img
        src="https://img.icons8.com/ultraviolet/30/000000/appointment-reminders.png"></button>
      <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">

        <a href="#" class="w3-bar-item w3-button">Arthi commented in your post</a>
        <a href="#" class="w3-bar-item w3-button">Suresh likes your post</a>


      </div>

      &lt;!&ndash;       <img src="images/fb4.gif" class="w3-circle" style="height:25px;width:35px" alt="fb logo">
       &ndash;&gt;

    </div>


    &lt;!&ndash;<a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-#47699c"&ndash;&gt;
       &lt;!&ndash;title="My Account">&ndash;&gt;
      &lt;!&ndash;<img src="images/thiyan.jpg" class="w3-circle" style="height:40px;width:35px" alt="Avatar">&ndash;&gt;
      &lt;!&ndash;<class&ndash;&gt;
      &lt;!&ndash;="fa fa-home w3-margin-left">Thiyan</a>&ndash;&gt;
    &lt;!&ndash;</a>&ndash;&gt;


    &lt;!&ndash;<div class="ser1">&ndash;&gt;
      &lt;!&ndash;<div class="search-container center w3-bar-item w3-button w3-hide-small">&ndash;&gt;
        &lt;!&ndash;<form action="/action_page.php">&ndash;&gt;
          &lt;!&ndash;<input type="text" placeholder="Search" name="search">&ndash;&gt;
          &lt;!&ndash;<button type="submit"><i class="fa fa-search"></i>&ndash;&gt;


          &lt;!&ndash;</button>&ndash;&gt;

      &lt;!&ndash;</div>&ndash;&gt;


      &lt;!&ndash;</form>&ndash;&gt;
    &lt;!&ndash;</div>&ndash;&gt;



  </div>


</div>
&lt;!&ndash;</div>&ndash;&gt;


<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
</div>

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">

  <div class="w3-row">

    <div class="w3-col m3">

      <div class="w3-card w3-round w3-white">
        <div class="w3-container">
          <h4 class="w3-center"><b>My Profile</b></h4>
          <p class="w3-center"><img src="images/thiyan.jpg" class="w3-circle" style="height:120px;width:120px"
                                    alt="Avatar"></p>
          <hr>
          <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> <b>IOT Developper(Film Maker)</b></p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> Srilanka</p>
          <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> June 11, 2019</p>
        </div>
      </div>
      <br>


      <div class="w3-card w3-round">
        <div class="w3-white">
          <button onclick="myFunction('Demo1')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i
            class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> My Groups
          </button>
          <div id="Demo1" class="w3-hide w3-container">
            <p>Some text..</p>
          </div>
          <button onclick="myFunction('Demo2')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i
            class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> My Events
          </button>
          <div id="Demo2" class="w3-hide w3-container">
            <p><b>* Today I have a <u>Meeting at 03.00 p.m</u></b></p>
            <p><b>* Tomorrow I have a <u>interview at 09.00 a.m</u></b></p>
            <p><b>* 15th I have a <u>coference at 11.00 a.m</u></b></p>
            <p><b>* 18th I have to <u>go to Badulla</u></b></p>
            <p><b>* 2oth I want to <u>meet the Client</u></b></p>
          </div>
          <button onclick="myFunction('Demo3')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i
            class="fa fa-users fa-fw w3-margin-right"></i> My Photos
          </button>
          <div id="Demo3" class="w3-hide w3-container">
            <div class="w3-row-padding">
              <br>
              <div class="w3-half">
                <img src="images/thiyan1.jpg" style="width:80% ;height:20%" class="w3-margin-bottom">
              </div>
              <div class="w3-half">
                <img src="images/thiyan2.jpg" style="width:86%;height:20%" class="w3-margin-bottom">
              </div>
              <div class="w3-half">
                <img src="images/thiyan3.jpg" style="width:100%;height:20%" class="w3-margin-bottom">
              </div>
              <div class="w3-half">
                <img src="images/thiyan4.jpg" style="width:100%;height:20%" class="w3-margin-bottom">
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>

      <div class="w3-card w3-round w3-white w3-hide-small">
        <div class="w3-container">
          <p>Interests</p>
          <p>
            <span class="w3-tag w3-small w3-theme-d5">News</span>
            <span class="w3-tag w3-small w3-theme-d3">Labels</span>
            <span class="w3-tag w3-small w3-theme-d2">Games</span>
            <span class="w3-tag w3-small w3-theme-d1">Friends</span>
            <span class="w3-tag w3-small w3-theme">Games</span>
            <span class="w3-tag w3-small w3-theme-l1">Friends</span>
            <span class="w3-tag w3-small w3-theme-l2">Food</span>
            <span class="w3-tag w3-small w3-theme-l3">Design</span>
            <span class="w3-tag w3-small w3-theme-l4">Art</span>
            <span class="w3-tag w3-small w3-theme-l5">Photos</span>
          </p>
        </div>
      </div>
      <br>


      <div
        class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
          <i class="fa fa-remove"></i>
        </span>
        <p><strong>Hey!</strong></p>
        <p>People are looking at your profile. Find out who.</p>
      </div>


    </div>


    <div class="w3-col m7">

      <div class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-card w3-round w3-white">
            <div class="w3-container w3-padding">
              <img src="../../assets/images/thiyan.jpg" class="w3-circle" style="height:40px;width:40px" alt="Avatar"/>
              <h6
              class="w3-opacity"> What's on your mind,thiyan?</h6>

              <hr>
              <p contenteditable="true" class="w3-border w3-padding"></p>


              <input type="file" name="somename" size="n"/>

              <button type="button" class="w3-button w3-theme"><i class="fa fa-pencil"></i>  Post</button>
            </div>
          </div>
        </div>
      </div>-->
<!--post start-->
      <app-post *ngFor="let uploadImage of uploadImages" [uploadImage]="uploadImage">
<!--post end-->
<!--

    </div>


    <div class="w3-col m2">
      <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container">
          <p>Upcoming Events:</p>
          <img src="images/badulla.jpg" alt="Forest" style="width:100%;"/>
          <p><strong>Holiday</strong></p>
          <p>Friday 03:15</p>

          <button class="button">Info</button>
        </div>
      </div>
      <br>

      <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container">
          <p>Group Request</p>
          <img src="images/surya.jpg" alt="Avatar" style="width:50%"><br>
          <span>surya fans club</span>
          <div class="w3-row w3-opacity">
            <div class="w3-half">
              <button class="w3-button w3-block w3-green w3-section" title="Accept"><i class="fa fa-check"></i></button>
            </div>
            <div class="w3-half">
              <button class="w3-button w3-block w3-red w3-section" title="Decline"><i class="fa fa-remove"></i></button>
            </div>
          </div>
        </div>
      </div>
      <br>

      <div class="w3-card w3-round w3-white w3-padding-14 w3-center">
        <p>
          <button class="w3-button w3-block w3-theme-l4">ADS</button>
        </p>
      </div>
      <br>

      <div class="w3-card w3-round w3-white w3-padding-2 w3-center">
        <img src="images/g1.jpg" class="w3-circle" style="height:40px;width:40px" alt="Avatar"/><h6
        class="w3-opacity"></h6>
        <img src="images/g2.jpg" class="w3-circle" style="height:40px;width:40px" alt="Avatar"/>
        <h6 class="w3-opacity"></h6>
        <img src="images/g3.png" class="w3-circle" style="height:40px;width:40px" alt="Avatar"/>
        <h6 class="w3-opacity"></h6>
          <img src="images/g4.jpg" class="w3-circle" style="height:40px;width:40px" alt="Avatar"/>
          <h6 class="w3-opacity"></h6>
          <img src="images/g5.jpg" class="w3-circle" style="height:40px;width:40px" alt="Avatar"/>
          <h6 class="w3-opacity"></h6>
          <img src="images/g6.jpg" class="w3-circle" style="height:40px;width:40px" alt="Avatar"/>
          <h6 class="w3-opacity"></h6>
          <img src="images/g7.jpg" class="w3-circle" style="height:40px;width:40px" alt="Avatar"/>
          <h6 class="w3-opacity"></h6>
          <img src="images/g8.jpg" class="w3-circle" style="height:40px;width:40px" alt="Avatar"/>
          <h6 class="w3-opacity"></h6>
          <img src="images/g8.jpg" class="w3-circle" style="height:40px;width:40px" alt="Avatar"/>
          <h6 class="w3-opacity"></h6>
          <img src="images/g8.jpg" class="w3-circle" style="height:40px;width:40px" alt="Avatar"/>
          <h6 class="w3-opacity"></h6>



          <br>
          <p>
            <button class="w3-button w3-block w3-theme-l4">Games</button>
          </p>
      </div>


    </div>


  </div>


</div>
<br>


<footer class="w3-container w3-theme-d3 w3-padding-16">
  <h6 align="center">Copyright © 2019 IOT Devolopment. All Rights Reserved. IOT Devolopment® is a registered
                     Senzmate.</h6>
</footer>

<footer class="w3-container w3-theme-d5">
  <p align="center">Created by:-<a href="https://www.thiyaneng.com/w3css/default.asp" target="_blank">thiyaneng@gmail.com</a>
  </p>
</footer>
-->
